body{
    font-family:sans-serif;
}
#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.card {
    padding: 1rem;
    flex: 1;
    margin: 1rem;
    background-color: tomato;
    color: white;
    text-align: center;
    flex-basis: 40%;
    border-radius: 20px;
}